{% extends "myapp/base.html" %}
{% load static %}

{% block title %}О компании ПСМ{% endblock %}

{% block content %}
<!-- О компании -->
<section class="row  align-items-center " >
    <div class="container px-4 py-5" style="background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('{% static "myapp/images/electro-bg.jpg" %}') no-repeat center/cover; min-height: 80vh; display: flex; align-items: center;">
        <div class="row align-items-center">
            <div class="col-lg-6 text-white container">

                <h2 class="pb-2 border-bottom">О компании ПСМ</h2>
                <p class="lead"><i class="fas  text-primary me-2"></i>Профессиональные электромонтажные работы с 2016 года</p>

                <div class="text-justified">  <!-- Добавлен класс для выравнивания -->
                    <p>Общество с ограниченной ответственностью «ПромСпецМонтаж» (ООО «ПСМ») образовано в 2019 году, путем реорганизации и слияния нескольких строительно-монтажных компаний, вобрав в себя весь положительный опыт работы на строительных объектах Красноярского края, включая Таймырский автономный округ.</p>

                    <p>Сотрудники компании являются специалистами, имеющими многолетний опыт работы на объектах промышленного и жилищного строительства, устройства инженерной инфраструктуры крупных медицинских и образовательных учреждений, реконструкции и строительства спортивных объектов Универсиады 2019 года и имеют почетные грамоты и благодарственные письма от губернатора Красноярского края.</p>

                    <h5 class="mt-4">Основные направления деятельности:</h5>
                    <ol class="styled-list">
                        <li><strong class="text-white ">Проектирование</strong> силовых и слаботочных кабельных систем инженерного обеспечения зданий жилищного и промышленного строительства;</li>
                        <li><strong class="text-white ">Монтаж</strong> силовых электрических сетей, систем охрано-пожарной сигнализации, СКУД и информационных сетей любой сложности в промышленном и гражданском строительстве. Монтаж и наладка тяжелого оборудования КРП, ТП и оборудования систем бесперебойного питания зданий.</li>
                        <li><strong class="text-white ">Пуско-наладочные работы</strong> силовых и слаботочных систем.</li>
                    </ol>

                    <p>Основным направлением деятельности компании являются электромонтажные работы любой сложности. Мы работаем по всему Красноярскому краю и за его пределами. Специалистами нашей компании реализован ряд крупных проектов в таких городах как Норильск, Красноярск, Ачинск, Минусинск.</p>

                    <p>ООО «ПСМ» располагает собственным штатом квалифицированных специалистов, монтажных бригад и готово к реализации любых технически сложных проектов и сдачи выполненных работ «под ключ».</p>
                </div>

                <ul class="list-unstyled mt-4">
                    <li class="mb-2"><i class="fas fa-check-circle text-primary me-2"></i> Работаем по ГОСТ и ПУЭ</li>
                    <li class="mb-2"><i class="fas fa-check-circle text-primary me-2"></i> Гарантия на все виды работ</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Услуги -->


<!-- Контакты -->
<section id="contact" >
    <div  >
        <div class="row py-5 align-items-center" style="background: #99CCFF ">
            <div class="col-md-6 text-center">
                <img src="{% static 'myapp/images/псм_куаркод.jpg' %}" alt="Контактное изображение" class="img-fluid" style="max-height: 200px;">
            </div>
            <div class="col-md-6  text-justified" style="color: #212529;">
                <div >
                    <p>Общество с ограниченной ответственностью</p>
                    <p>«ПромСпецМонтаж»</p>
                    <p>660020, г.Красноярск, ул.Шахтеров, д.4, стр.8, оф.3</p>
                    <p>E-mail: info@psm-company.ru</p>
                    <p>ОКПО 35378835, ОГРН 1192468000295,</p>
                    <p>ИНН/КПП 2465191182/246501001</p>
                </div>
            </div>

        </div>
    </div>
</section>

{% endblock %}