{% extends "myapp/base.html" %}
{% load static %}

{% block content %}
<header class="fixed-header bg-white bg-opacity-75 py-2">
    <div class="container-fluid d-flex justify-content-center">
        <nav>
            <a class="nav-btn-primary btn btn-outline-primary text-#6c63ff px-4 py-2" href="{% url 'home' %}">
                <i class="fas fa-landmark me-1 "></i>ПСМ
            </a>
        </nav>
    </div>
</header>
<div class="container py-5">
    <h1 class="mb-4">Новости компании</h1>

    <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for item in news %}
        <div class="col">
            <div class="card h-100 shadow-sm">
                {% if item.images.first %}
                <div class="ratio ratio-16x9">
                    <img src="{{ item.images.first.image.url }}" class="card-img-top img-fluid" alt="{{ item.title }}" style="object-fit: contain;">
                </div>
                {% endif %}
                <div class="card-body">
                    <h2 class="card-title h5">{{ item.title }}</h2>
                    <p class="text-muted small">
                        <i class="far fa-calendar-alt me-1"></i>
                        {{ item.date_posted|date:"d.m.Y H:i" }}
                    </p>
                    <p class="card-text">{{ item.content|truncatewords:30 }}</p>
                </div>
                <div class="card-footer bg-transparent">
                    <a href="{% url 'news_detail' item.pk %}" class="btn btn-sm btn-primary">
                        Читать далее <i class="fas fa-arrow-right ms-1"></i>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}